@import "../../less/base.less";

div.content {

  position: relative;
  padding-top: 34px;
  .cover;

  header, footer {

    position: absolute;
    left: 0;
    width: 100%;
    background-color: gray;
  }

  header {

    top: 0;
  }

  footer {

    display: none;
    bottom: 0;
  }

  &.has-footer {

    padding-bottom: 34px;

    footer {

      display: block;
    }
  }

  div.browser {

    .cover;

    webview {

      .cover;
    }
  }
}
